/* Palette */
$green: #314833;
$yellow: #f0a428;
$orange: #b06537;
$white: #ece5d8;
$black: #1f1809;

body {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background: $white;
  color: $black;
  font-family: Calibri, Arial, sans-serif;
}

h1 {
  font-size: 2.625em;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

#container {
  background: $green;
  color: $yellow;
  margin: 0.5em;
  border: 1px solid $green;
  border-radius: 12px;
}

header {
  height: 100%;
  max-height: 65px;
  padding: 1em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .header-container {
    width: 40%;
    padding-left: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1em;

    img {
      width: 100%;
      max-width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h1 {
      background: inherit;
      color: $white;
    }
  }

  nav {
  }
}

nav li:hover {
  background: $yellow;
  color: black;
  border-radius: 14px;
}

.navbar-nav .nav-link.active {
  color: $white;
}

.navbar-nav .nav-link.active:hover {
  color: $black;
}

nav li > a:hover {
  color: $black;
  font-weight: 600;
}

section {
  &#about {
    background: $white;
    color: $black;

    img {
      height: 200px;
    }
  }

  &#experience {
    background: $yellow;
    color: $black;
  }

  &#interests {
    background: #ece5d8;
    color: $black;

    .hashtag-interest {
      background: $black;
      color: $white;
      font-weight: 600;
      padding: 0.5em 1em;
      border-radius: 10px;

      &:hover {
        background: $yellow;
        color: $black;
      }
    }
  }

  &#contact {
    height: 100%;
    min-height: 600px;

    .contact-container {
      z-index: 1;
    }

    .background-layer {
      opacity: 0.1;
      z-index: 2;
    }

    .btn-primary {
        background: $orange;
        color: $black;
        border-color: $orange;

        &:hover {
            background: $yellow;
            border-color: $yellow;
        }
    }
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5em;
    list-style: none;
    margin: 0;
    padding-bottom: 1em;

    li {
      height: 40px;
      color: $white;
    }

    li:nth-child(1) {
      list-style-image: url("../images/chevron-right_orange.svg");
      font-size: 1.5em;
      font-weight: 600;
    }
  }
}

footer {
  color: $white;
  background: $black;
  margin-top: 1em;
  padding: 1em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

/* shapedivider.app */
.custom-shape-divider-bottom-1708908017 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1708908017 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 25px;
}

.custom-shape-divider-bottom-1708908017 .shape-fill {
  fill: $white;
}

@media only screen and (max-width: 865px) {
  #header-container h1 {
    font-size: 2em;
  }
}
